---
title: "IT executives! Take the lead in DevOps transformations"
author: Suri Patel
author_gitlab: suripatel
author_twitter: gitlab
categories: insights
image_title: '/images/blogimages/gary-gruver-cover.jpg'
description: "Gary Gruver, author of \"Starting and Scaling DevOps in the Enterprise,\" shares his thoughts on the role of executives in a DevOps transformation."
tags: DevOps
twitter_text: "IT executives lead DevOps transformations, according to @GRUVERGary"
---

The changes in both workflow and culture during a DevOps transformation highlight the need for IT executives to guide development and operations teams. [Gary Gruver](http://www.garygruver.com), the renowned DevOps consultant, discovered that executives are essential in setting up teams to adopt a DevOps model successfully. Ahead of his [June 19 webcast](/webcast/starting-scaling-devops/), Gary Gruver sat down with GitLab to share his thoughts on the greatest challenges that executives encounter and to provide tactical steps to help executives support their teams.

## The role of an executive in the DevOps transformation is leading it.

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://drive.google.com/file/d/1a9sGyFz9fW9zeXOa7MJGib8fUN4ZrIsA/preview" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->


## One of the biggest challenges is getting everybody on the same page.

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://drive.google.com/file/d/1d5w4GRRbHA2poHJocUT-4cBfW2KBEsw2/preview" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

## One of the biggest things executives need to do to prepare their teams is giving a common view of the inefficiencies for the entire deployment pipeline.

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://drive.google.com/file/d/1iseA7ifwF9qIkXDNQun9j0ps-b4_QfuK/preview" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

## In terms of culture, executives can help teams adjust to the changes that are coming. Their role is to be that of an investigative reporter.

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://drive.google.com/file/d/1788pyYj0QGx8z29YaP6PoseS-OJI_u_d/preview" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

## When I work with executives, I always start with, "What are the objectives about your software development processes?"

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://drive.google.com/file/d/1ainmogqtovRD0QKq_gJW9XT3_Lii2Hbm/preview" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

Join Gary Gruver for a [webcast on June 19](/webcast/starting-scaling-devops/) to discover ways to analyze your current deployment pipeline to target your first improvements on the largest inefficiencies in software development and deployment, and [download your free copy](/resources/scaling-enterprise-devops/) of "Starting and Scaling DevOps in the Enterprise."
